@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

body {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "wdth" 100, "YTLC" 500;
}

.Btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  width: 40px;
  height: 40px;
  padding: 5px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
}

/* plus sign */
.sign {
  width: 100%;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.sign svg {
  width: 30px;
}
.sign svg path {
  fill: white;
}
/* text */
.text {
  position: absolute;
  right: 0%;
  width: 0%;
  opacity: 0;
  color: white;
  font-size: 1.2em;
  font-weight: 600;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
/* hover effect on button2 width */
.Btn:hover {
  width: 150px;
  border-radius: 40px;
  padding: 5px;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.Btn:hover .sign {
  width: 30%;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  padding: 10px;
}
/* hover effect button2's text */
.Btn:hover .text {
  opacity: 1;
  width: 70%;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  padding-right: 10px;
}
/* button2 click effect*/
.Btn:active {
  -webkit-transform: translate(2px, 2px);
  -ms-transform: translate(2px, 2px);
  transform: translate(2px, 2px);
}

.button2 {
  width: 10em;
  position: relative;
  height: 3.5em;
  border: 3px ridge #e1aefd;
  outline: none;
  background-color: transparent;
  color: black;
  transition: 1s;
  border-radius: 0.3em;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.button2::after {
  content: "";
  position: absolute;
  top: -10px;
  left: 3%;
  width: 95%;
  height: 40%;

  transition: 0.5s;
  transform-origin: center;
}

.button2::before {
  content: "";
  transform-origin: center;
  position: absolute;
  top: 80%;
  left: 3%;
  width: 95%;
  height: 40%;

  transition: 0.5s;
}

.button2:hover::before,
button2:hover::after {
  transform: scale(0);
}

.button2:hover {
  box-shadow: inset 0px 0px 25px #e1aefd;
}

@keyframes spin-slow {
  0% {
    transform: rotate(0deg) translate(100px) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translate(100px) rotate(-360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow infinite linear;
}
